extends base.pug

block content
    h1 This is contact page 
    form(action="/contact", method="post")
        input(type="text", name="name", placeholder="enter your name" required) 
        input(type="email", name="email", placeholder="enter your email" required) 
        input(type="text", name="sebject", placeholder="enter subject" required) 
        input(type="text", name="feedback", placeholder="enter your feedback" required) 
        button(type="submit")
            | Submit
            